@use "../global/" as *;

.banner{
  display: inline-block;
  background-color: peru;
  border-radius: rem(30);
}
.banner__inner{
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-left: rem(15);
  padding-right: rem(5);
  justify-content: space-between;
}
.banner__logo{
  max-width: rem(100);
}
.banner__btn{
  margin-left: rem(25);
}